@media (max-width: 768px) {
    @keyframes slide {
        0% {
            transform: translateX(10px);
        }
    
        10% {
            transform: translate(200px, 90px);
        }
    
        20% {
            transform: translate(-200px, 200px);
        }
    
        30% {
            transform: translate(-200px, 40px);
        }
    
        40% {
            transform: translate(200px, 300px);
        }
    
        50% {
            transform: translate(-200px, 20px);
        }
    
        60% {
            transform: translate(-60px, 200px);
        }
    
        70% {
            transform: translate(200px, 80px);
        }
    
        80% {
            transform: translate(-80px, 400px);
        }
    
        90% {
            transform: translate(200px, 200px);
        }
    
       100% {
        transform: translateX(10px);
        }
    }
}

@media (max-width: 425px) {
    @keyframes slide {
        0% {
            transform: translateX(10px);
        }
    
        10% {
            transform: translate(80px, 90px);
        }
    
        20% {
            transform: translate(-80px, 400px);
        }
    
        30% {
            transform: translate(-80px, 40px);
        }
    
        40% {
            transform: translate(80px, 300px);
        }
    
        50% {
            transform: translate(-80px, 20px);
        }
    
        60% {
            transform: translate(-60px, 500px);
        }
    
        70% {
            transform: translate(80px, 80px);
        }
    
        80% {
            transform: translate(-80px, 400px);
        }
    
        90% {
            transform: translate(80px, 200px);
        }
    
       100% {
        transform: translateX(10px);
        }
    }
}